*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    position: relative;
    text-align: center;
    color: white;
    margin: 100px auto;
}

#about-coffee-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 80px;
    font-size: 30px;
}

#date {
    position: absolute;
    bottom: 10px;
    left: 350px;
}


#page-top{
    width: 1350px;
    height: 600px;
    margin-left: 40px;
    margin-right: 40px;
}

h2{
    text-transform: uppercase;
    margin-left: 40px;
    margin-right: 40px;
}

p{
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
}

#navigation{
    list-style-type: none;
    padding-left: 0;
    margin-left: 40px;
}

#navigation a{
    text-decoration: none;
    font-family: sans-serif;
    color: #5757a0;
    display: inline-block;
    padding: 10px 20px;
    background-color: lavender;
    border-bottom: 5px solid #5757a0;
}

#navigation li{
    display: inline;
    margin-right: 5px;
}

#country-list{
    margin-left: 50px;
    background-color: rgba(100, 0, 0, 0.5);
}

.contact{
    margin-top: 100px;
}

.contact p{
    font-size: 20px
}